.user-form {
  padding: 0 14px;
  left: 0%;
  right: -3.93%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 5px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
